<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997298513204-6ef3ha5jj9cj4kv5tvnp2mfpgmmqm8ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997298513204-6ef3ha5jj9cj4kv5tvnp2mfpgmmqm8ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDivNjITaYMgEr8E9btRUsFg_fwYyCEvpE</string>
	<key>GCM_SENDER_ID</key>
	<string>997298513204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omolade.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7b643</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7b643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997298513204:ios:d9ae8207b7ebc5b76eb161</string>
</dict>
</plist>